# Default Ignore All
/*
/*/

# Explicit Deny
.config/*
.config/fish/*
.local/*

# Explicit Allow
!.config
!.config/fish
!.config/fish/conf.d
!.config/fish/themes
!.config/git
!.config/discord
!.config/discord/settings.json
!.local
!.local/bin/
